section.Contact#contact
  .Contact_logo.slideUp 
    img(src="./img/contact_logo.svg" alt="HORIBE")
  .Contact_map.slideUp
    img(src="./img/contact_map.svg" alt="ACCESSE")

  .Contact_info 
    h4.slideUp 有限会社 堀部美容研究所
    p.slideUp Address: <br>渋谷区神宮前3-16-16 アルチザン表参道105
    img(src="./img/contact_tel.svg" alt="TEL").tel.slideUp

    .Contact_sns.slideUp 
      a(href="#") 
       img(src="./img/ico_instagram.svg" alt="instagram") 
      a(href="#") 
       img(src="./img/ico_line.svg" alt="LINE") 
      a(href="#") 
       img(src="./img/ico_facebook.svg" alt="facebook") 

    .Contact_infoText.slideUp 
      p  HORIBE 
      p  定休日 : 火曜日・第三水曜日
    .Contact_infoText.slideUp 
      p  LILY OF THE VALLEY
      p  定休日 : 不定期　完全予約制
    
    p.Contact_time.slideUp お問い合わせ時間: <br>10:00〜16:00





  