section.Contact#contact
  .Contact_logo 
    img(src="./img/contact_logo.svg" alt="HORIBE")
  .Contact_map
    img(src="./img/contact_map.svg" alt="ACCESSE")

  .Contact_info 
    h4 有限会社 堀部美容研究所
    p Address: 渋谷区神宮前3-16-16 アルチザン表参道105
    img(src="./img/contact_tel.svg" alt="TEL").tel

    .Contact_sns 
      a(href="#") 
       img(src="./img/ico_instagram.svg" alt="instagram") 
      a(href="#") 
       img(src="./img/ico_line.svg" alt="LINE") 
      a(href="#") 
       img(src="./img/ico_facebook.svg" alt="facebook") 

    .Contact_infoText 
      p  HORIBE 
      p  定休日 : 火曜日・第三水曜日
    .Contact_infoText 
      p  LILY OF THE VALLEY
      p  定休日 : 不定期　完全予約制
    
    p.Contact_time お問い合わせ時間: 10:00〜16:00





  