section.Menu#menu
  +sectionTitle("MENU")
  .Wrapper 
    h4.Menu_title SET MENU
    ul.Menu_list 
      li.Menu_item
        p.menu カット＆カラー
        p.price ￥13,000～
      li.Menu_item
        p.menu カット＆3ステップトリートメント
        p.price ￥9,200～
      li.Menu_item
        p.menu カット＆ヘアマニキュア
        p.price ￥14,200～
      li.Menu_item
        p.menu カット＆ストレートパーマ
        p.price ￥16,500～
      li.Menu_item
        p.menu カット＆パーマ
        p.price ￥13,000～
      li.Menu_item-small
        p ＊全メニュー シャンプーブロー込み

    h4.Menu_title CUT
    ul.Menu_list 
      li.Menu_item
        p.menu カット <span>(シャンプー ブロー込み)</span>
        p.price ￥6,500
      li.Menu_item
        p.menu 眉カット
        p.price ￥550
      li.Menu_item
        p.menu 前髪カット <span>(シャンプー ブローは別料金)</span>
        p.price ￥1,100

    h4.Menu_title COLOR
    ul.Menu_list 
      li.Menu_item
        p.menu カラー リタッチ <span>(シャンプー ブロー込み)</span>
        p.price ￥8,700
      li.Menu_item
        p.menu ホイルワーク ハーフ <span>(カット ブロー別)</span>
        p.price ￥5,500
      li.Menu_item
        p.menu カラー 全体 <span>(シャンプー ブロー込み)</span>
        p.price ￥11,000
      li.Menu_item
        p.menu ホイルワーク フル <span>(カット ブロー別)</span>
        p.price ￥11,000
      li.Menu_item
        p.menu ヘアマニキュア <span>(シャンプー ブロー込み)</span>
        p.price ￥9,800
      li
      li.Menu_item
        p.menu ヘアマニキュア 全体ロング <span>(シャンプー ブロー込み)</span>
        p.price ￥11,900

    h4.Menu_title PERM
    ul.Menu_list 
      li.Menu_item
        p.menu パーマ
        p.price ￥7,600～
      li.Menu_item
        p.menu ストレートパーマ
        p.price ￥11,000～
      li
      li.Menu_item-small
        p ＊カット ブロー別

    h4.Menu_title TREATMENT
    ul.Menu_list 
      li.Menu_item
        p.menu ３ステップトリートメント <span>(シャンプー カット ブロー別料金)　
        p.price ￥3,500～

    h4.Menu_title OTHER
    ul.Menu_list 
      li.Menu_item
        p.menu シャンプー＆ブロー　
        p.price ￥3,300
      li.Menu_item
        p.menu ポイントメイク
        p.price ￥3,500～
      li.Menu_item
        p.menu シャンプー＆ブロー＆アイロンセット
        p.price ￥4,300～
      li.Menu_item
        p.menu フルメイク
        p.price ￥6,000～
      li.Menu_item
        p.menu アップスタイル <span>(シャンプー別料金)</span>
        p.price ￥5,500
      li.Menu_item-small
        p.indent ＊全てのメニューは施術内容により多少金額が変わることもあります。<br>詳しくはスタイリストにご相談ください。<br>
        p.indent ＊価格は全て税込み金額です。