section.Profile#profile
  +sectionTitle("PROFILE")
  .Wrapper
    .Profile_contents 
      .image.slideInLeft
        img(src="./img/profile_img.png" alt="堀部　真生")
      .texts.slideInRight 
        .name 堀部 真生
        .kana MAKI HORIBE
        .title 経歴
        table 
          tbody 
            tr 
              td 
              td 山野美容専門学校通信教育学科 卒業<br>HORIBE 入社
            tr 
              td 97’ 
              td ロンドン・ヴィダルサッスーンへ短期留学。
            tr 
              td 98’ 
              td 東京都青年優秀技能者知事賞 受賞。
            tr 
              td 98’ 
              td フランスI.C.D世界大会ジュニアステージ出演。
            tr 
              td 04’9月
              td 堀部モードサークルインターナショナル会長に就任。
            tr 
              td 05’9月
              td パリI.C.DモンディアルパフォーマンスにJAPANチームの一員として出演。
            tr 
              td 05’
              td JHAニューカマーオブザイヤー部門ファイナリストにノミネート。
            tr 
              td 09’
              td パリI.C,Dモンディアルにおいて「クレアトゥール・ﾄﾞ・モード」賞 受賞<br>また、モンディアルパフォーマンスにおいてモンディアルチーム(世界の12名)の日本メンバー3名の１人に選ばれ出演。
            tr
              td 11’
              td パリI.C.Dモンディアルシュバリエ褒章において「ナイト」の称号を受賞。
            tr
              td 13’
              td 韓国ソウルにおいて「HORIBEヘアセミナー」を行う。
            tr
              td 16’
              td 韓国ソウルにおいてHORIBEチームとしてヘアショーに出演。
            tr
              td 18’3月
              td HORIBE 神宮前へ移転<br>　完全予約制の個室型ヘアサロンとしてリニューアルオープン。
            tr
              td 19’
              td パリI.C.Dモンディアルシュバリエ褒章において「オフィサー」の称号を受賞。
            tr 
              td
              td I.C.Dジャパン(インターコワフュールジャパン)会員<br>日本ヘアデザイン協会 会員 
            tr 
              td
              td 現在サロンワーク、ヘアショー、撮影、講習活動など積極的に行っている













